* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body,
#root {
  background-image: url(Arquivo/Plasma.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  height: 100%;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
